.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container_img_header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_header {
	width: 100%;
}

.logo {
	position: absolute;
}

.section_home {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_news{
	margin-bottom: 5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_ticketing {
	margin: 5rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container_title {
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main_title {
	margin: 0;
	font-size: 5rem;
	text-transform: capitalize;
}

.sub_title {
	margin: 0;
	font-size: 2rem;
}
