.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
}

.container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms;
}

.container:hover {
    transform: scale(1.05);
}

.title {
    font-size: 3rem;
    text-transform: capitalize;
}

.button {
    display: block;
    font-weight: 700;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 5rem;
}

.list_news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
}

.container_news {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms;
}

.container_news:hover {
    transform: scale(1.05);
}

.container_news_info {
    padding: 1rem;
}

.title_news {
    margin: 0;
    font-size: 1.5rem;
}

.text_news {
    margin-top: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-2nd-color)
}

.read_more {
    color: var(--text-3rd-color);
}

.tickets_list {
    display: flex;
    flex-direction: column;
}

.tickets_list > .container {
    margin: 2rem 0;
}

.container_my_ticket {
    margin-top: 4rem;
}

.my_ticket {
    margin: 2rem;
    padding: 1rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my_ticket_title {
    margin: 0;
}

.my_ticket_sub {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-2nd-color);
}

.my_ticket_info_container {
    display: flex;
}

.my_ticket_info {
    width: 50%;
}

.my_ticket_price {
    margin: 0;
}

@media screen and (max-width: 1380px) {
	.list_news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
    }
}

@media screen and (max-width: 900px) {
	.list_news {
        display: flex;
        flex-direction: column;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin: 2rem 0;
    }

    .tickets_list {
        align-items: center;
    }

    .tickets_list > .container {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .tickets_list > .container.container {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .tickets_list > .container.container {
        width: 80%;
    }
}