.title {
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-3rd-color);
    color: var(--text-main-color)
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input::file-selector-button {
    display: none;
}

.input[type="file"]:hover {
    cursor: pointer;
}

.select {
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-3rd-color);
    color: var(--text-main-color);
    text-transform: capitalize;
}

.select:focus {
    border-radius: 0.5rem 0.5rem 0 0;
}

.textarea {
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-3rd-color);
    color: var(--text-main-color);
}

.button {
    margin-top: 0.5rem;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    background-color: var(--bg-3rd-color);
    color: var(--text-main-color);
}

.button:hover {
    cursor: pointer;
}

.input:focus, .textarea:focus, .button:focus {
    border: 1px solid var(--border-color);
}