.container_hamburger {
    right: 0;
    position: absolute;
    padding: .5rem;
    margin-right: 2rem;
}

.layer {
    display: block;
    border-radius: 1rem;
    width: 2rem;
    height: 3px;
    background-color: var(--text-main-color);
}

.layer:nth-child(2) {
    margin: 3px 0;
}